api_stuff/TraitData.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!--<xs:include schemaLocation="TraitAttributeTypes.xsd"/>-->

  <xs:element name="trait-data-set" type="trait-group"/>

  <xs:complexType name="trait-group">
    <xs:choice>
      <xs:sequence>
        <xs:element name="entity" type="entity"/>
        <xs:element name="defaults" type="trait-attribute-set" minOccurs="0"/>
        <xs:element name="trait" type="trait" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:sequence>
        <xs:element name="defaults" type="trait-attribute-set" minOccurs="0"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element name="trait-group" type="trait-group"/>
          <xs:element name="trait" type="trait"/>
        </xs:choice>
      </xs:sequence>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="entity">
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="notes" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="trait-attribute-set">
    <xs:all>
      <xs:element name="site" type="site" minOccurs="0"/>
      <xs:element name="species" type="species" minOccurs="0"/>
      <xs:element name="citation" type="citation" minOccurs="0"/>
      <xs:element name="treatment" type="treatment" minOccurs="0"/>
      <xs:element name="stat" type="stat" minOccurs="0"/>
      <xs:element name="notes" type="xs:string" minOccurs="0"/>
      <xs:element name="variable" type="variable" minOccurs="0"/>
      <xs:element name="method" type="method" minOccurs="0"/>

      <xs:element name="covariates" type="covariates" minOccurs="0"/>
    </xs:all>
    <xs:attribute name="access_level" type="access-level"/>
     <xs:attribute name="utc-timestamp" type="utc-datetime"/>
  </xs:complexType>

  <xs:simpleType name="utc-datetime">
    <xs:restriction base="xs:dateTime">
      <xs:pattern value=".*[0-9]Z"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="trait">
    <xs:complexContent>
      <xs:extension base="trait-attribute-set">
        <xs:attribute name="mean" use="required" type="xs:decimal"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="covariates">
    <xs:sequence maxOccurs="unbounded">
      <xs:element name="covariate" type="covariate"/>
    </xs:sequence>
  </xs:complexType>


  <xs:complexType name="covariate">
    <xs:sequence>
      <xs:element name="variable" type="variable" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="level" use="required" type="xs:decimal"/>
    <xs:attribute name="variable-name" type="xs:decimal"/>
  </xs:complexType>















  <xs:complexType name="site">
      <xs:attribute name="id" type="xs:integer"/>
      <xs:attribute name="city" type="xs:string"/>
      <xs:attribute name="state" type="xs:string"/>
      <xs:attribute name="country" type="xs:string"/>
      <xs:attribute name="sitename" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="species">
      <xs:sequence>
        <xs:element name="cultivar" type="cultivar" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:integer"/>
      <xs:attribute name="genus" type="xs:string"/>
      <xs:attribute name="species" type="xs:string"/>
      <xs:attribute name="scientificname" type="xs:string"/>
      <xs:attribute name="commonname" type="xs:string"/>
      <xs:attribute name="AcceptedSymbol" type="xs:string"/>
    </xs:complexType>


    <xs:complexType name="citation">
      <xs:attribute name="id" type="xs:string"/>
      <xs:attribute name="author" type="xs:string"/>
      <xs:attribute name="year" type="xs:gYear"/>
      <xs:attribute name="title" type="xs:string"/>
      <xs:attribute name="doi" type="xs:string"/>
    </xs:complexType>


    <xs:complexType name="cultivar">
      <xs:attribute name="id" type="xs:integer"/>
      <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>


    <xs:complexType name="treatment">
      <xs:attribute name="id" type="xs:integer"/>
      <xs:attribute name="name" type="xs:string"/>
      <xs:attribute name="control" type="xs:boolean"/>
    </xs:complexType>




    <xs:complexType name="stat">
      <xs:attribute name="name" type="stat-type" use="required"/>
      <xs:attribute name="sample-size" type="xs:positiveInteger" use="required"/>
      <xs:attribute name="value" type="xs:decimal" use="required"/>
    </xs:complexType>

    <xs:simpleType name="stat-type">
      <xs:restriction base="xs:string">
        <xs:enumeration value="SD"/>
        <xs:enumeration value="SE"/>
        <xs:enumeration value="MSE"/>
        <xs:enumeration value="95%Cl"/>
        <xs:enumeration value="LSD"/>
        <xs:enumeration value="MSD"/>
      </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="variable">
      <xs:attribute name="id" type="xs:integer"/>
      <xs:attribute name="name" type="xs:string"/>
      <xs:attribute name="description" type="xs:string"/>
    </xs:complexType>


    <xs:simpleType name="access-level">
      <xs:restriction base="xs:integer">
        <xs:minInclusive value="1"/>
        <xs:maxInclusive value="4"/>
      </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="method">
      <xs:sequence>
        <xs:element name="citation" type="citation"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>


</xs:schema>
